#snake canvas {
    background-color: #ddd;
}
@media all and (min-width:1086px) {
    #snake canvas {
        width:800px;
        height:600px;
    }
}
@media all and (max-width:1085px) {
    #snake canvas {
        width:600px;
        height:450px;
    }
}
@media all and (max-width:840px) {
    #snake canvas {
        width:500px;
        height:415px;
    }
}
/* mode mobile */
@media all and (max-width:730px) {
    #snake canvas {
        width: 100%;
        height:unset;
    }
    .snakeGame {
        flex-direction: column;
        align-items: center;
    }
    .stats {
        display: flex;
        flex-direction: column-reverse;
        width: unset !important;
        max-width: 100%;
        height: unset !important;
    }
    #score, .meilleur-score  {
        display: none !important;
    }
    .container-canva {
        margin-right: 0px !important;
    }
    .nbPommes {
        margin-bottom: 0px;
    }
}
.container-top {
    padding:24px;
}
.snakeGame {
    display: flex;
    justify-content: center;
    padding:10px;
}
#snake h1 {
    text-align: center;
}
#demarrer {
    display: block;
    margin: auto;
}
#snake h5 {
    text-align: center;
    margin: 1rem;
}
.boutons {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.boutons button {
    margin-left: 10px;
    background-color: #ccc;
    color: white;
    font-weight: bold;
}
.boutons button:first-child {
    background-color: rgb(255, 128, 64);
}

#score {
    background: grey;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    text-transform: uppercase;
}
#snake p {
    width: 90%;
    margin: auto;
    font-size: 1.1rem;
    /* border: 1px solid purple; */
    border-radius: 5px 5px 5px 5px;
    padding: 0.3rem;
    text-align: center;
}
.fab.fa-apple {
    color: #28a745;
    font-size: 3rem;
}
#nbPommes {
    font-size: 3rem;
}
.stats {
    background-color: #BADA55;
}
#snake .fas {
    font-size: 3rem;
    color: grey;
}
.touches {
    margin-top: 10px;
}
.touche-haut  {
    width: 3rem;
    margin: auto;
    margin-bottom: 5px;
}
.touches-bas  {
    width: 155px;
    margin: auto;
}
